@charset "ISO-8859-1";

body {
   width:1000px;
   margin:30px;
    }
     
div {
    width:160px;
    height:200px;
    margin:10px;
    display:inline-block;
    vertical-align:top;
    border: 3px solid black;
    padding:20px;
    text-align:center;
	}
	
#farm {
    background:green;
	}
	
#cave {
    background: brown;
	}
	
#house {
    background: khaki;
	}
	
#casino {
    background: purple;
	}
	
input {
    background: orange;
	}
	
#activity {
    width:800px;
    padding: 20px;
    text-align:left;
    overflow:scroll;
	}


p {
	color:green;
	}